*.pyc
tags
test
models
.idea
**/train/*
**/val/*
combo_pruned_tensorboard
combo_train
diffuse_to_normal_1024_model
textures_train
facades_train
diffuse_train
deLit1024_imageSet
diffuse_to_normal_1024_model_bak/model-432000.index
24_01_19_Training/

# data and training folders we dont need or want in git 
combo_pruned_out
combo_pruned_val
delit_1024_export
delit_1024_model
delit_1024_test_output
delit_1024_train
delit_1024_val_output
displaceCombo1024
displaceCombo1024_train
fauxValidation
out
outputDelit
outputDisp
outputNormals
outputRough
roughCombo_1024_train
roughCombo_1024_val
roughCombo_1024_valFaux
test_tmp_train
testop
web_content
web_demo
render_for_web
Models_Current